* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  padding-right: 0 !important;
}
.hd {
  height: 200px;
  background: url(../images/head.png) no-repeat;
}
body {
  background-color: skyblue;
  width: 100%;
  min-width: 1271px;
}
.ff {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: flex-end;
}
.ff div img {
  width: 30%;
  margin-left: 10%;
}
.ff ul {
  padding-left: 0 !important;
  margin-top: 20px;
  display: flex;
  list-style: none;
}
.ff ul li {
  padding: 0 16px 0 14px ;
  margin-left: -12px;
}
.ff ul li img {
  width: 45px;
  height: 45px;
  margin-top: -10px;
}
.ff ul li svg {
  margin-top: -4px;
}
.ff ul li i {
  color: #fff;
}
.ff ul .u1 {
  padding: 6px 15px;
}
.ff ul .u1 a {
  display: block;
}
.ff ul li a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 15px;
  color: #fff;
}
.ff ul li a:hover {
  color: #fff;
}
@media screen and (max-width: 1682px) {
  .ff {
    padding-right: 0;
  }
  .ff ul {
    margin-right: -80px;
  }
  .ff .ssm ul {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1605px) {
  .ssm li {
    padding-left: 10px !important;
  }
}
@media screen and (max-width: 1406px) {
  .ff ul li {
    padding: 0 25px 0 0 ;
  }
}
@media screen and (max-width: 1438px) {
  .ssm li {
    margin-top: 10px;
  }
  .ssm li a {
    display: none;
  }
  .ssm li i {
    letter-spacing: 10px;
  }
  .ssm .bbt {
    height: 30px !important;
    width: 40px !important;
  }
}
.ss {
  position: relative;
  padding: 0;
  background-color: rgba(225, 225, 225, 0);
  margin-top: 15px;
  margin-left: 70px;
  padding: 2px 20px 0 3px;
  border-radius: 10px;
  max-width: 400px;
}
.ss form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DEE0E3;
  border-radius: 10px;
}
.ss form a {
  padding-right: 15px;
  text-decoration: none;
  color: black;
}
.ss form i {
  font-size: 20px;
}
.ss form input {
  width: 100%;
  border-radius: 5px;
  height: 46px;
  outline: none;
  border: none;
  background-color: #DEE0E3;
  margin-right: 20px;
}
.ss form input:hover {
  background-color: #fff;
}
.ss .hot_search {
  display: none;
  text-indent: 2rem;
  padding-bottom: 10px;
  font-weight: bold;
}
.ss .ssa {
  display: none;
}
.ss .ssa .left {
  float: left;
  margin-left: -10px;
  text-indent: 2rem;
}
.ss .ssa .left img {
  width: 18px;
  height: 18px;
  margin-left: 6px;
}
.ss .ssa .left div {
  line-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ss .ssa .left div div {
  font-size: 14px;
}
.ss .ssa .right {
  float: right;
  line-height: 40px;
}
.ss .ssa .right div div {
  font-size: 14px;
}
.ssm {
  margin-left: -75px !important;
  margin-top: 18px;
}
.ssm ul {
  width: 100%;
  list-style: none;
  padding: 0 0 0 75px;
  display: flex;
  justify-content: flex-end;
}
.ssm ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 18px;
  justify-content: center;
}
.ssm ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -30px;
}
.ssm ul i {
  font-size: 18px;
  color: #fff;
}
.ssm ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.ssm ul li a:hover {
  color: #fff;
}
.ssm ul li a :nth-last-child(a) {
  line-height: 40px;
}
.ssm ul .bbt {
  display: flex !important;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 0 10px;
  right: 0 !important;
  margin-left: 10px;
  background-color: #FB7299;
  border: none;
  line-height: 40px;
}
.scorll {
  max-width: 1740px;
  width: 100%;
  min-width: 1271px;
}
.three {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.three a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}
.three a:nth-child(1) {
  background-color: #FECF22;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.three a:nth-child(2) {
  background-color: #F07775;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.three a:nth-child(3) {
  background-color: #59CA73;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.three a img {
  margin-top: 2px;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-repeat: repeat;
}
.three a div {
  padding-top: 10px;
  font-size: 14px;
}
.md {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(11, 82px);
  text-align: center;
  align-items: baseline;
  justify-content: flex-start;
  grid-gap: 10px;
  grid-column-gap: 10px;
}
.md a {
  width: 85px;
  height: 28px;
  display: block;
  background-color: #F6F7F8;
  text-decoration: none;
  color: #000;
  letter-spacing: 4px;
  line-height: 28px;
  border-radius: 5px;
  font-size: 14px;
}
@media (min-width: 1430px) and (max-width: 1488px) {
  .md {
    grid-template-columns: repeat(11, 78px);
  }
  .md a {
    width: 80px;
  }
}
@media (min-width: 1000px) and (max-width: 1430px) {
  .md {
    grid-template-columns: repeat(11, 74px);
  }
  .md a {
    width: 70px;
  }
}
@media (min-width: 300px) and (max-width: 1345px) {
  .md {
    overflow: hidden;
    grid-template-columns: repeat(9, 84px);
    padding-right: 3px;
  }
  .md a {
    width: 90px;
  }
  .md .no {
    display: none;
  }
  .three a:nth-child(1) {
    width: 45px;
    height: 45px;
  }
  .three a:nth-child(2) {
    width: 45px;
    height: 45px;
  }
  .three a:nth-child(3) {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 1324px) {
  .lok a {
    padding-right: 10px;
  }
  .lok a i {
    display: none;
  }
  .lok a span {
    letter-spacing: 2px;
  }
  .md {
    grid-template-columns: repeat(9, 84px);
    padding-right: 3px;
  }
  .md a {
    width: 85px;
    font-weight: 400;
    letter-spacing: 0;
  }
}
.lok {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  padding-left: 30px;
}
.lok a {
  text-decoration: none;
  color: #61666D;
  font-size: 15px;
}
