* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  padding-right: 0 !important;
}
.hd {
  height: 200px;
  background: url(../images/head.png) no-repeat;
}
body {
  background-color: skyblue;
  width: 100%;
  min-width: 1271px;
  overflow: auto;
}
.ff {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: flex-end;
}
.ff div img {
  width: 30%;
  margin-left: 10%;
}
.ff ul {
  padding-left: 0 !important;
  margin-top: 30px;
  display: flex;
  list-style: none;
}
.ff ul li {
  padding: 0 16px 0 14px ;
  margin-left: -12px;
}
.ff ul li img {
  width: 45px;
  height: 45px;
  margin-top: -10px;
}
.ff ul li svg {
  margin-top: -4px;
}
.ff ul li i {
  color: #fff;
}
.ff ul a:last-child {
  padding-right: 0;
}
.ff ul .u1 {
  padding: 6px 15px;
}
.ff ul .u1 a {
  display: block;
}
.ff ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}
.ff ul li a:hover {
  color: #fff;
}
@media screen and (max-width: 1682px) {
  .ff {
    padding-right: 0;
  }
  .ff ul {
    margin-right: -80px;
  }
  .ff .ssm ul {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1605px) {
  .ssm li {
    padding-left: 10px !important;
  }
}
@media screen and (max-width: 1406px) {
  .ff ul li {
    padding: 0 25px 0 0 ;
  }
}
@media screen and (max-width: 1438px) {
  .ssm li {
    margin-top: 10px;
  }
  .ssm li a {
    display: none;
  }
  .ssm li i {
    letter-spacing: 10px;
  }
  .ssm .bbt {
    height: 30px !important;
    width: 40px !important;
  }
}
.ss {
  position: relative;
  padding: 0;
  background-color: rgba(#fff, #fff, #fff, 1);
  background-color: #DEE0E3;
  margin-top: 15px;
  margin-left: 70px;
  padding: 2px 20px 0 3px;
  border-radius: 10px;
}
.ss form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ss form i {
  font-size: 20px;
}
.ss form input {
  width: 100%;
  border-radius: 5px;
  height: 46px;
  outline: none;
  border: none;
  background-color: #DEE0E3;
  margin-right: 20px;
}
.ss form input:hover {
  background-color: #fff;
}
.ss .hot_search {
  display: none ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px 0 16px;
}
.ss .ssa {
  display: none ;
  display: flex;
  justify-content: space-around;
}
.ss .ssa .left {
  margin-left: -10px;
}
.ss .ssa .left img {
  width: 18px;
  height: 18px;
  margin-left: 6px;
}
.ss .ssa .left div {
  line-height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ss .ssa .right {
  line-height: 30px;
}
.ssm {
  margin-left: -75px !important;
  margin-top: 18px;
}
.ssm ul {
  width: 100%;
  list-style: none;
  padding: 0 0 0 75px;
  display: flex;
  justify-content: flex-end;
}
.ssm ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 18px;
  justify-content: center;
}
.ssm ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -30px;
}
.ssm ul i {
  font-size: 18px;
  color: #fff;
}
.ssm ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.ssm ul li a:hover {
  color: #fff;
}
.ssm ul li a :nth-last-child(a) {
  line-height: 40px;
}
.ssm ul .bbt {
  display: flex !important;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 80px;
  height: 40px;
  display: flex;
  padding: 0 10px;
  right: 0 !important;
  margin-left: 10px;
  background-color: #FB7299;
  border: none;
  line-height: 40px;
}
.three {
  display: flex;
  justify-content: space-between;
}
.md {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(11, 60px);
  text-align: center;
  align-items: baseline;
  justify-content: space-between;
  /* 声明行间距和列间距 */
  grid-gap: 20px;
  /* 分别表示两行的高度 */
  grid-template-rows: 30px;
}
.md a {
  width: 70px;
  height: 35px;
  display: block;
  background-color: #F6F7F8;
  text-decoration: none;
  color: #000;
  letter-spacing: 4px;
  line-height: 35px;
  border-radius: 5px;
}
