* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
html {
  font-size: 16px;
  color: #333;
}
body {
  min-width: 1271px;
  width: 100%;
  max-width: 2560px;
  height: 100%;
  overflow: auto;
}
.hd {
  min-width: 1271px;
  position: absolute;
  top: 0;
  z-index: 1002;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  max-width: 2560px;
  width: 100%;
  height: 64px;
  margin: 0 auto;
}
.ff {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: flex-end;
}
.ff ul {
  padding-left: 0 ;
  margin-top: 20px;
  display: flex;
  list-style: none;
}
.ff ul li {
  padding: 0 16px 0 14px ;
  margin-left: -12px;
}
.ff ul li img {
  width: 45px;
  height: 45px;
  margin-top: -10px;
}
.ff ul li svg {
  margin-top: -4px;
}
.ff ul li i {
  color: #fff;
}
.ff ul .u1 {
  padding: 6px 15px;
}
.ff ul .u1 a {
  display: block;
}
.ff ul li a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 15px;
  color: #fff;
}
.ff ul li a:hover {
  color: #fff;
}
.ss {
  padding: 0;
  background-color: rgba(225, 225, 225, 0);
  border-radius: 10px;
  flex: 1 auto;
  position: relative;
  margin: 0 auto;
  min-width: 181px;
  max-width: 500px;
}
.ss form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DEE0E3;
  border-radius: 10px;
  opacity: 0.9;
}
.ss form a {
  padding-right: 15px;
  text-decoration: none;
  color: black;
}
.ss form i {
  font-size: 20px;
}
.ss form input {
  width: 100%;
  border-radius: 5px;
  height: 46px;
  outline: none;
  border: none;
  background-color: #DEE0E3;
  margin-right: 20px;
}
.ss form input:hover {
  background-color: #fff;
}
.ss .hot_search {
  display: none;
  text-indent: 2rem;
  padding-bottom: 10px;
  font-weight: bold;
}
.ss .ssa {
  display: none;
}
.ss .ssa .left {
  float: left;
  margin-left: -10px;
  text-indent: 2rem;
}
.ss .ssa .left img {
  width: 18px;
  height: 18px;
  margin-left: 6px;
}
.ss .ssa .left div {
  line-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ss .ssa .left div div {
  font-size: 14px;
}
.ss .ssa .right {
  float: right;
  line-height: 40px;
}
.ss .ssa .right div div {
  font-size: 14px;
}
.ssm {
  margin-left: -90px;
  margin-top: 15px;
}
.ssm ul {
  width: 100%;
  list-style: none;
  padding: 0 0 0 75px;
  display: flex;
  justify-content: flex-end;
}
.ssm ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 18px;
  justify-content: center;
}
.ssm ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -30px;
}
.ssm ul i {
  font-size: 18px;
  color: #fff;
}
.ssm ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.ssm ul li a:hover {
  color: #fff;
}
.ssm ul li a :nth-last-child(a) {
  line-height: 40px;
}
.ssm ul .bbt {
  display: flex ;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 90px;
  height: 40px;
  display: flex;
  padding: 0 10px;
  right: 0 !important;
  margin-left: 10px;
  background-color: #FB7299;
  border: none;
  line-height: 40px;
  border-radius: 5px;
}
.ssm ul .bbt button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #FB7299;
}
.hd_banner_inner {
  display: flex;
  position: relative;
  min-height: 155px;
  height: 9.375vw;
  max-height: 240px;
  min-width: 1271px;
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
}
.hd_banner_inner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: inherit;
}
.hd_banner_inner div {
  top: -5px;
  position: absolute;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hd_banner_inner div a img {
  width: 80%;
}
@media screen and (max-width: 1682px) {
  .ff {
    padding-right: 0;
  }
  .ff ul {
    margin-right: -80px;
  }
  .ff .ssm ul {
    padding-left: 10px;
  }
  .ss {
    max-width: 400px;
    min-width: none;
  }
}
@media screen and (max-width: 1605px) {
  .ssm li {
    padding-left: 10px !important;
  }
}
@media screen and (max-width: 1406px) {
  .ff ul li {
    padding: 0 25px 0 0 ;
  }
}
@media screen and (max-width: 1438px) {
  .ssm ul {
    margin-top: -16px;
  }
  .ssm ul li {
    margin-top: 10px;
  }
  .ssm ul li a {
    display: none;
  }
  .ssm ul li i {
    letter-spacing: 10px;
  }
  .ssm ul .bbt {
    height: 30px !important;
    width: 40px !important;
  }
  .hd_banner_inner div a img {
    width: 70%;
  }
}
@media screen and (max-width: 1498px) {
  .ff ul li {
    margin-left: -18px;
  }
  .ss {
    padding-right: 35px;
    max-width: 380px;
    min-width: none;
  }
}
